.global-theme {
          --color-text-base-primary: #e7d5b9;
  --color-text-base-secondary: #e7d5b9;
  --color-text-base-tertiary: #434343;
  --color-text-button-solid-disabled: #434343;
  --color-text-button-solid-default: #e7d5b9;
  --color-text-button-outline-default: #e7d5b9;
  --color-text-button-outline-dissabled: #434343;
  --color-text-badge-primary: #e7d5b9;
  --color-text-timer-primary: #e7d5b9;
  --color-text-input-primary-default: #e7d5b9;
  --color-text-input-primary-filled: #e7d5b9;
  --color-text-input-primary-disabled: #434343;
  --color-text-input-primary-error: #ed1a4c;
  --color-text-dropdown-primary-ctive: #e7d5b9;
  --color-text-dropdown-primary-disabled: #e7d5b9;
  --color-text-dropdown-primary-default: #e7d5b9;
  --color-background-button-solid-default: #000000;
  --color-background-button-solid-hover: #000000;
  --color-background-button-solid-pressed: #000000;
  --color-background-button-circle-default: #121011;
  --color-background-button-circle-active: #000000;
  --color-background-button-outline-default: #000000;
  --color-background-button-outline-hover: #000000;
  --color-background-button-outline-pressed: #000000;
  --color-background-button-outline-dissabled: #000000;
  --color-background-icon-primary-default: #000000;
  --color-background-icon-primary-disabled: #434343;
  --color-background-badge-primary: #000000;
  --color-background-badge-secondary: #000000;
  --color-background-base-primary: #121011;
  --color-background-base-additional: #000000;
  --color-background-divider-secondary: #000000;
  --color-background-divider-additional: #343434;
  --color-background-divider-primary: #000000;
  --color-background-divider-accent: #000000;
  --color-background-timer-default: #000000;
  --color-background-timer-warning: #000000;
  --color-background-radio-unchecked-default: #000000;
  --color-background-radio-checked-default: #000000;
  --color-background-radio-circle-checked-default: #e7d5b9;
  --color-background-radio-circle-checked-hover: #d4bb93;
  --color-background-radio-circle-checked-pressed: #e7d5b9;
  --color-background-radio-circle-checked-disabled: #434343;
  --color-background-toggle-unchecked-default: #434343;
  --color-background-toggle-circle-unchecked-default: #000000;
  --color-background-toggle-circle-unchecked-hover: #000000;
  --color-background-toggle-circle-unchecked-pressed: #000000;
  --color-background-toggle-circle-unchecked-disabled: #000000;
  --color-background-toggle-circle-checked-default: #000000;
  --color-background-toggle-circle-checked-hover: #000000;
  --color-background-toggle-circle-checked-pressed: #000000;
  --color-background-toggle-circle-checked-disabled: #000000;
  --color-background-toggle-checked-default: #d4bb93;
  --color-background-toggle-checked-disabled: #434343;
  --color-background-slider-default: #434343;
  --color-background-slider-active: #d4bb93;
  --color-background-slider-handle-default: #000000;
  --color-background-slider-handle-hover: #000000;
  --color-background-slider-handle-pressed: #000000;
  --color-background-modal-body: #000000;
  --color-background-modal-header: #000000;
  --color-background-toast-body-primary: #000000;
  --color-background-toast-body-secondary: #000000;
  --color-background-input-primary-default: #000000;
  --color-background-dropdown-primary-default: #343434;
  --color-background-dropdown-primary-active: #121011;
  --color-background-dropdown-primary-hover: #121011;
  --color-border-button-solid-default: #000000;
  --color-border-button-solid-hover: #000000;
  --color-border-button-circle-default: #000000;
  --color-border-button-circle-hover: #f1e6d2;
  --color-border-button-outline-default: #000000;
  --color-border-button-outline-dissabled: #434343;
  --color-border-radio-unchecked-default: #d4bb93;
  --color-border-radio-unchecked-hover: #bb9370;
  --color-border-radio-unchecked-pressed: #e7d5b9;
  --color-border-radio-unchecked-disabled: #434343;
  --color-border-radio-checked-default: #d4bb93;
  --color-border-radio-checked-hover: #bb9370;
  --color-border-radio-checked-pressed: #e7d5b9;
  --color-border-radio-checked-disabled: #434343;
  --color-border-input-primary-default: #000000;
  --color-border-input-primary-hover: #000000;
  --color-border-input-primary-filled: #000000;
  --color-border-input-primary-error: #000000;
  --shadow-dropshadow-base-primary: 0px 2px 0px 0px #12101166;
  --shadow-innershadow-base-primary: 0px -1px 0px 0px #d4bb93;
      }