.global-theme {
        --text-primary: #e7d5b9;
--text-secondary: #e7d5b999;
--text-tertiary: #434343;
--button-solid-background-default: linear-gradient(360deg, #343434 0%, #34343400 100%);
--button-solid-background-hover: linear-gradient(180deg, #34343400 0%, #bb9370 100%);
--button-solid-background-pressed: linear-gradient(180deg, #1b191a 0%, #bb9370 100%);
--button-solid-border-default: linear-gradient(90deg, #34343400 0%, #434343 50%, #34343400 100%);
--button-solid-border-hover: linear-gradient(90deg, #f1e6d200 0%, #f1e6d2 50%, #f1e6d200 100%);
--button-solid-text-disabled: #434343;
--button-solid-text-default: #e7d5b9;
--button-circle-background-default: #121011;
--button-circle-background-active: linear-gradient(360deg, #121011 0%, #343434 100%);
--button-circle-border-default: linear-gradient(270deg, #2b2a2b 0%, #434343 50%, #2b2a2b 100%);
--button-circle-border-hover: #f1e6d2;
--button-outline-background-default: linear-gradient(360deg,#121011 0%, #343434 115%);
--button-outline-background-hover: linear-gradient(180deg, #34343400 0%, #bb9370 100%);
--button-outline-background-pressed: linear-gradient(180deg, #1b191a 0%, #bb9370 100%);
--button-outline-background-dissabled: linear-gradient(360deg, #1b191a 0%, #343434 100%);
--button-outline-border-default: linear-gradient(360deg,#f1e6d2 0%, #d4bb93 115%);
--button-outline-border-dissabled: #434343;
--button-outline-text-default: #e7d5b9;
--button-outline-text-dissabled: #434343;
--dropshadow-primary: 0px 2px 0px 0px #12101166;
--innershadow-primary: 0px -1px 0px 0px #d4bb93;
--icon-primary-background-default: linear-gradient(180deg, #fff7eb 0%, #d4bb93 100%);
--icon-primary-background-disabled: #434343;
--badge-primary-background: linear-gradient(180deg, #34343400 0%, #bb9370 100%);
--badge-primary-text: #e7d5b9;
--badge-secondary-background: linear-gradient(180deg, #34343400 0%, #343434 100%);
--background-primary: #121011;
--background-additional: linear-gradient(180deg, #12101100 0%, #2b2a2b 100%);
--divider-secondary: linear-gradient(270deg, #121011 0%, #434343 50%, #121011 100%);
--divider-additional: #343434;
--divider-primary: linear-gradient(270deg, #f1e6d200 35%, #f1e6d2 50%, #f1e6d200 65%);
--divider-accent: linear-gradient(270deg, #f1e6d200 0%, #f1e6d2 50%, #f1e6d200 100%);
--timer-text: #e7d5b9;
--timer-color-default: linear-gradient(180deg, #fff7eb 0%, #d4bb93 100%);
--timer-color-warning: linear-gradient(180deg, #ED1A4C 0%, #D00132 100%);
--radio-unchecked-background-default: linear-gradient(360deg, #121011 0%, #343434 100%);
--radio-unchecked-border-default: #d4bb93;
--radio-unchecked-border-hover: #bb9370;
--radio-unchecked-border-pressed: #e7d5b9;
--radio-unchecked-border-disabled: #434343;
--radio-checked-background-default: linear-gradient(360deg, #121011 0%, #343434 100%);
--radio-checked-background-circle-default: #e7d5b9;
--radio-checked-background-circle-hover: #d4bb93;
--radio-checked-background-circle-pressed: #e7d5b9;
--radio-checked-background-circle-disabled: #434343;
--radio-checked-border-default: #d4bb93;
--radio-checked-border-hover: #bb9370;
--radio-checked-border-pressed: #e7d5b9;
--radio-checked-border-disabled: #434343;
--toggle-unchecked-background-default: #434343;
--toggle-unchecked-background-circle-default: linear-gradient(180deg, #fff7eb 0%, #d4bb93 100%);
--toggle-unchecked-background-circle-hover: linear-gradient(180deg, #fff7eb 0%, #bb9370 100%);
--toggle-unchecked-background-circle-pressed: linear-gradient(180deg, #fff7eb 0%, #e7d5b9 100%);
--toggle-unchecked-background-circle-disabled: linear-gradient(360deg, #434343 0%, #343434 100%);
--toggle-checked-background-default: #d4bb93;
--toggle-checked-background-disabled: #434343;
--toggle-checked-background-circle-default: linear-gradient(180deg, #fff7eb 0%, #d4bb93 100%);
--toggle-checked-background-circle-hover: linear-gradient(180deg, #fff7eb 0%, #bb9370 100%);
--toggle-checked-background-circle-pressed: linear-gradient(180deg, #fff7eb 0%, #e7d5b9 100%);
--toggle-checked-background-circle-disabled: linear-gradient(360deg, #434343 0%, #343434 100%);
--slider-background-default: #434343;
--slider-background-active: #d4bb93;
--slider-background-handle-default: linear-gradient(180deg, #fff7eb 0%, #d4bb93 100%);
--slider-background-handle-hover: linear-gradient(180deg, #fff7eb 0%, #bb9370 100%);
--slider-background-handle-pressed: linear-gradient(180deg, #fff7eb 0%, #e7d5b9 100%);
--modal-background-body: linear-gradient(180deg, #121011 40%, #34343433 100%);
--modal-background-header: linear-gradient(360deg, #121011 0%, #343434 100%);
--toast-primary-background-body: linear-gradient(90deg, #12101100 0%, #121011cc 25%, #121011cc 65%, #12101100 100%);
--toast-secondary-background-body: linear-gradient(90deg, #12101100 0%, #121011cc 50%, #12101100 100%);
--input-primary-background-default: linear-gradient(360deg, #121011 0%, #343434 100%);
--input-primary-border-default: linear-gradient(180deg, #434343 0%, #343434 100%);
--input-primary-border-hover: linear-gradient(180deg, #f1e6d2 0%, #d4bb93 100%);
--input-primary-border-filled: linear-gradient(180deg, #f1e6d2 0%, #d4bb93 100%);
--input-primary-border-error: linear-gradient(180deg, #ED1A4C 0%, #9E1334 100%);
--input-primary-text-default: #e7d5b999;
--input-primary-text-filled: #e7d5b9;
--input-primary-text-disabled: #434343;
--input-primary-text-error: #ED1A4C;
--dropdown-primary-background-default: #343434;
--dropdown-primary-background-active: #12101199;
--dropdown-primary-background-hover: #12101199;
--dropdown-primary-text-active: #e7d5b9;
--dropdown-primary-text-disabled: #e7d5b966;
--dropdown-primary-text-default: #e7d5b9;
      }