.global-theme {
          --color-text-base-primary: rgb(231, 213, 185);
  --color-text-base-secondary: rgba(231, 213, 185, 0.6);
  --color-text-base-tertiary: rgb(67, 67, 67);
  --color-text-button-solid-disabled: rgb(67, 67, 67);
  --color-text-button-solid-default: rgb(231, 213, 185);
  --color-text-button-outline-default: rgb(231, 213, 185);
  --color-text-button-outline-dissabled: rgb(67, 67, 67);
  --color-text-badge-primary: rgb(231, 213, 185);
  --color-text-timer-primary: rgb(231, 213, 185);
  --color-text-input-primary-default: rgba(231, 213, 185, 0.6);
  --color-text-input-primary-filled: rgb(231, 213, 185);
  --color-text-input-primary-disabled: rgb(67, 67, 67);
  --color-text-input-primary-error: rgb(237, 26, 76);
  --color-text-dropdown-primary-ctive: rgb(231, 213, 185);
  --color-text-dropdown-primary-disabled: rgba(231, 213, 185, 0.4);
  --color-text-dropdown-primary-default: rgb(231, 213, 185);
  --color-background-button-solid-default: rgb(0, 0, 0);
  --color-background-button-solid-hover: rgb(0, 0, 0);
  --color-background-button-solid-pressed: rgb(0, 0, 0);
  --color-background-button-circle-default: rgb(18, 16, 17);
  --color-background-button-circle-active: rgb(0, 0, 0);
  --color-background-button-outline-default: rgb(0, 0, 0);
  --color-background-button-outline-hover: rgb(0, 0, 0);
  --color-background-button-outline-pressed: rgb(0, 0, 0);
  --color-background-button-outline-dissabled: rgb(0, 0, 0);
  --color-background-icon-primary-default: rgb(0, 0, 0);
  --color-background-icon-primary-disabled: rgb(67, 67, 67);
  --color-background-badge-primary: rgb(0, 0, 0);
  --color-background-badge-secondary: rgb(0, 0, 0);
  --color-background-base-primary: rgb(18, 16, 17);
  --color-background-base-additional: rgb(0, 0, 0);
  --color-background-divider-secondary: rgb(0, 0, 0);
  --color-background-divider-additional: rgb(52, 52, 52);
  --color-background-divider-primary: rgb(0, 0, 0);
  --color-background-divider-accent: rgb(0, 0, 0);
  --color-background-timer-default: rgb(0, 0, 0);
  --color-background-timer-warning: rgb(0, 0, 0);
  --color-background-radio-unchecked-default: rgb(0, 0, 0);
  --color-background-radio-checked-default: rgb(0, 0, 0);
  --color-background-radio-circle-checked-default: rgb(231, 213, 185);
  --color-background-radio-circle-checked-hover: rgb(212, 187, 147);
  --color-background-radio-circle-checked-pressed: rgb(231, 213, 185);
  --color-background-radio-circle-checked-disabled: rgb(67, 67, 67);
  --color-background-toggle-unchecked-default: rgb(67, 67, 67);
  --color-background-toggle-circle-unchecked-default: rgb(0, 0, 0);
  --color-background-toggle-circle-unchecked-hover: rgb(0, 0, 0);
  --color-background-toggle-circle-unchecked-pressed: rgb(0, 0, 0);
  --color-background-toggle-circle-unchecked-disabled: rgb(0, 0, 0);
  --color-background-toggle-circle-checked-default: rgb(0, 0, 0);
  --color-background-toggle-circle-checked-hover: rgb(0, 0, 0);
  --color-background-toggle-circle-checked-pressed: rgb(0, 0, 0);
  --color-background-toggle-circle-checked-disabled: rgb(0, 0, 0);
  --color-background-toggle-checked-default: rgb(212, 187, 147);
  --color-background-toggle-checked-disabled: rgb(67, 67, 67);
  --color-background-slider-default: rgb(67, 67, 67);
  --color-background-slider-active: rgb(212, 187, 147);
  --color-background-slider-handle-default: rgb(0, 0, 0);
  --color-background-slider-handle-hover: rgb(0, 0, 0);
  --color-background-slider-handle-pressed: rgb(0, 0, 0);
  --color-background-modal-body: rgb(0, 0, 0);
  --color-background-modal-header: rgb(0, 0, 0);
  --color-background-toast-body-primary: rgb(0, 0, 0);
  --color-background-toast-body-secondary: rgb(0, 0, 0);
  --color-background-input-primary-default: rgb(0, 0, 0);
  --color-background-dropdown-primary-default: rgb(52, 52, 52);
  --color-background-dropdown-primary-active: rgba(18, 16, 17, 0.6);
  --color-background-dropdown-primary-hover: rgba(18, 16, 17, 0.6);
  --color-border-button-solid-default: rgb(0, 0, 0);
  --color-border-button-solid-hover: rgb(0, 0, 0);
  --color-border-button-circle-default: rgb(0, 0, 0);
  --color-border-button-circle-hover: rgb(241, 230, 210);
  --color-border-button-outline-default: rgb(0, 0, 0);
  --color-border-button-outline-dissabled: rgb(67, 67, 67);
  --color-border-radio-unchecked-default: rgb(212, 187, 147);
  --color-border-radio-unchecked-hover: rgb(187, 147, 112);
  --color-border-radio-unchecked-pressed: rgb(231, 213, 185);
  --color-border-radio-unchecked-disabled: rgb(67, 67, 67);
  --color-border-radio-checked-default: rgb(212, 187, 147);
  --color-border-radio-checked-hover: rgb(187, 147, 112);
  --color-border-radio-checked-pressed: rgb(231, 213, 185);
  --color-border-radio-checked-disabled: rgb(67, 67, 67);
  --color-border-input-primary-default: rgb(0, 0, 0);
  --color-border-input-primary-hover: rgb(0, 0, 0);
  --color-border-input-primary-filled: rgb(0, 0, 0);
  --color-border-input-primary-error: rgb(0, 0, 0);
  --shadow-dropshadow-base-primary: 0px 2px 0px 0px #12101166;
  --shadow-innershadow-base-primary: 0px -1px 0px 0px #d4bb93;
      }